.add-button {
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  text-align: center;
  color: #4169e1;
  font-size: 40px;
  width: 95px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #87cefa;
  color: white;
  cursor: pointer;
}
