.receipt {
  padding: 10px;
  border-radius: 10px;
  background-color: #1e90ff;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.header {
  background-color: white;
  width: 100%;
}

.header-inner {
  height: 80px;
  max-width: 700px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
