.item-container {
  position: relative;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  text-align: center;
  height: 115px;
}

.item-container:hover {
  background-color: #bcddff;
  color: white;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #0079fa;
}

.name {
  font-size: 20px;
  color: black;
  overflow-wrap: anywhere; /*どこでも折り返す*/
}

.expirationDate {
  font-size: 16px;
  color: black;
}
