.shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 530px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 100px;
}

.shopping-inner {
  max-width: 700px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-list {
  flex: 1; /*伸び縮みして残りのスペースを埋める*/
  word-break: break-word; /* 長い文字でも折り返し */
}
