.shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto 100px;
}

.shopping {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 15px;
  font-weight: bold;
  font-size: 18px;
}

.shopping-inner {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-list {
  flex: 1;
  word-break: break-word;
  margin-top: 10px;
  font-size: 14px;
}

/* タブレット以上で文字サイズを戻す */
@media (min-width: 640px) {
  .shopping-list {
    font-size: 16px;
  }
}

/* タブレット以下は幅縮む */
@media (max-width: 639px) {
  .shopping-container {
    width: 90%;
    max-width: 500px;
  }
}
